/*
============================
Name:  mobidirection - Sass Landing Page Theme
Version: 1.0.2
Description: mobidirection - Sass Landing Page Theme
Author: Vikiglab
Author URI :https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/
